html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.collectList{margin-top: 10px; padding: 20px 0; width: 100%; overflow: hidden;}
.collectList ul{margin: 0; padding: 0;}
.collectList li{width: 23%; float: left;position: relative;list-style-type: none; margin: 20px 1%;}
.collectList li img{width: 100%; vertical-align: middle;}
.collectList li .text{position: absolute;/**/ left: 10px; top: 10px; color:white; font-size: 0.75rem;}
.logo{padding:0.5rem !important;}
.logo-txt{color:#000000}
.contract-bg{background:url(/girl_bg.png) no-repeat right bottom;backgroundPosition:100%;grid-auto-rows:auto;}
.contract-info{ width: 100%; padding-right: 40%; }
.contract-image{ display:none; }

@media(max-width:750px){
.contract-info{width: 100%; padding-right: 0;}
.contract-bg{ background:none; }
.contract-image{display:block;}
.contract-image img{ text-align: center;}
.navigation-logo{ margin: 1rem 0; }
.navigation-menu{ margin: 0.75rem 0; }
.main{ padding-top: 8rem!important; }
}
